<!DOCTYPE html>
<html>
{{- partial "header.html" . -}}

<body>
    <!-- LightGallery JS + 插件 -->
    <script src="https://cdn.jsdelivr.net/npm/lightgallery@2.7.1/lightgallery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lightgallery@2.7.1/plugins/zoom/lg-zoom.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lightgallery@2.7.1/plugins/rotate/lg-rotate.min.js"></script>
    <div class="page-layout">
        <aside class="sidebar-left" id="sidebar-left" aria-label="Side notes"></aside>
        <div class="content">
            {{- partial "head.html" . -}}
            {{- block "main" . }}{{- end }}
            {{- partial "footer.html" . -}}
        </div>
        <aside class="sidebar-right" id="sidebar-right" aria-label="Table of contents"></aside>
    </div>
</body>

</html>