:root {
    --bg-bg: #f7f7f7;
    --chroma-bg: #f7f7f7;
    --chroma-err: #f6f8fa;
    --chroma-err-bg: #82071e;
    --chroma-hl: #dedede;
    --chroma-lnt: #7f7f7f;
    --chroma-ln: #7f7f7f;
    --chroma-k: #cf222e;
    --chroma-kc: #cf222e;
    --chroma-kd: #cf222e;
    --chroma-kn: #cf222e;
    --chroma-kp: #cf222e;
    --chroma-kr: #cf222e;
    --chroma-kt: #cf222e;
    --chroma-na: #1f2328;
    --chroma-nc: #1f2328;
    --chroma-no: #0550ae;
    --chroma-nd: #0550ae;
    --chroma-ni: #6639ba;
    --chroma-nl: #900;
    --chroma-nn: #24292e;
    --chroma-nx: #1f2328;
    --chroma-nt: #0550ae;
    --chroma-nb: #6639ba;
    --chroma-bp: #6a737d;
    --chroma-nv: #953800;
    --chroma-vc: #953800;
    --chroma-vg: #953800;
    --chroma-vi: #953800;
    --chroma-vm: #953800;
    --chroma-nf: #6639ba;
    --chroma-fm: #6639ba;
    --chroma-s: #0a3069;
    --chroma-sa: #0a3069;
    --chroma-sb: #0a3069;
    --chroma-sc: #0a3069;
    --chroma-dl: #0a3069;
    --chroma-sd: #0a3069;
    --chroma-s2: #0a3069;
    --chroma-se: #0a3069;
    --chroma-sh: #0a3069;
    --chroma-si: #0a3069;
    --chroma-sx: #0a3069;
    --chroma-sr: #0a3069;
    --chroma-s1: #0a3069;
    --chroma-ss: #032f62;
    --chroma-m: #0550ae;
    --chroma-mb: #0550ae;
    --chroma-mf: #0550ae;
    --chroma-mh: #0550ae;
    --chroma-mi: #0550ae;
    --chroma-il: #0550ae;
    --chroma-mo: #0550ae;
    --chroma-o: #0550ae;
    --chroma-ow: #0550ae;
    --chroma-p: #1f2328;
    --chroma-c: #57606a;
    --chroma-ch: #57606a;
    --chroma-cm: #57606a;
    --chroma-c1: #57606a;
    --chroma-cs: #57606a;
    --chroma-cp: #57606a;
    --chroma-cpf: #57606a;
    --chroma-gd: #82071e;
    --chroma-gd-bg: #ffebe9;
    --chroma-ge: #1f2328;
    --chroma-gi: #116329;
    --chroma-gi-bg: #dafbe1;
    --chroma-go: #1f2328;
    --chroma-w: #fff;
}

[data-theme="dark"] {
    --bg: #e6edf3;
    --bg-bg: #0d1117;
    --chroma: #e6edf3;
    --chroma-bg: #0d1117;
    --chroma-err: #f85149;
    --chroma-hl: #6e7681;
    --chroma-lnt: #737679;
    --chroma-ln: #6e7681;
    --chroma-k: #ff7b72;
    --chroma-kc: #79c0ff;
    --chroma-kd: #ff7b72;
    --chroma-kn: #ff7b72;
    --chroma-kp: #79c0ff;
    --chroma-kr: #ff7b72;
    --chroma-kt: #ff7b72;
    --chroma-nc: #f0883e;
    --chroma-no: #79c0ff;
    --chroma-nd: #d2a8ff;
    --chroma-ni: #ffa657;
    --chroma-ne: #f0883e;
    --chroma-nl: #79c0ff;
    --chroma-nn: #ff7b72;
    --chroma-py: #79c0ff;
    --chroma-nt: #7ee787;
    --chroma-nv: #79c0ff;
    --chroma-vc: #79c0ff;
    --chroma-vg: #79c0ff;
    --chroma-vi: #79c0ff;
    --chroma-vm: #79c0ff;
    --chroma-nf: #d2a8ff;
    --chroma-fm: #d2a8ff;
    --chroma-l: #a5d6ff;
    --chroma-ld: #79c0ff;
    --chroma-s: #a5d6ff;
    --chroma-sa: #79c0ff;
    --chroma-sb: #a5d6ff;
    --chroma-sc: #a5d6ff;
    --chroma-dl: #79c0ff;
    --chroma-sd: #a5d6ff;
    --chroma-s2: #a5d6ff;
    --chroma-se: #79c0ff;
    --chroma-sh: #79c0ff;
    --chroma-si: #a5d6ff;
    --chroma-sx: #a5d6ff;
    --chroma-sr: #79c0ff;
    --chroma-s1: #a5d6ff;
    --chroma-ss: #a5d6ff;
    --chroma-m: #a5d6ff;
    --chroma-mb: #a5d6ff;
    --chroma-mf: #a5d6ff;
    --chroma-mh: #a5d6ff;
    --chroma-mi: #a5d6ff;
    --chroma-il: #a5d6ff;
    --chroma-mo: #a5d6ff;
    --chroma-o: #ff7b72;
    --chroma-ow: #ff7b72;
    --chroma-c: #8b949e;
    --chroma-ch: #8b949e;
    --chroma-cm: #8b949e;
    --chroma-c1: #8b949e;
    --chroma-cs: #8b949e;
    --chroma-cp: #8b949e;
    --chroma-cpf: #8b949e;
    --chroma-gd: #ffa198;
    --chroma-gd-bg: #490202;
    --chroma-ge: #8b949e;
    --chroma-gr: #ffa198;
    --chroma-gh: #79c0ff;
    --chroma-gi: #56d364;
    --chroma-gi-bg: #0f5323;
    --chroma-go: #8b949e;
    --chroma-gp: #8b949e;
    --chroma-gu: #79c0ff;
    --chroma-gt: #ff7b72;
    --chroma-w: #6e7681;
}

/* Background */ .bg { color:var(--bg);background-color:var(--bg-bg); }
/* PreWrapper */ .chroma { color:var(--chroma);background-color:var(--chroma-bg);-webkit-text-size-adjust:none; }
/* Error */ .chroma .err { color:var(--chroma-err) }
/* LineLink */ .chroma .lnlinks { outline:none;text-decoration:none;color:inherit }
/* LineTableTD */ .chroma .lntd { vertical-align:top;padding:0;margin:0;border:0; }
/* LineTable */ .chroma .lntable { border-spacing:0;padding:0;margin:0;border:0; }
/* LineHighlight */ .chroma .hl { background-color:var(--chroma-hl) }
/* LineNumbersTable */ .chroma .lnt { white-space:pre;-webkit-user-select:none;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:var(--chroma-lnt) }
/* LineNumbers */ .chroma .ln { white-space:pre;-webkit-user-select:none;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:var(--chroma-ln) }
/* Line */ .chroma .line { display:flex; }
/* Keyword */ .chroma .k { color:var(--chroma-k) }
/* KeywordConstant */ .chroma .kc { color:var(--chroma-kc) }
/* KeywordDeclaration */ .chroma .kd { color:var(--chroma-kd) }
/* KeywordNamespace */ .chroma .kn { color:var(--chroma-kn) }
/* KeywordPseudo */ .chroma .kp { color:var(--chroma-kp) }
/* KeywordReserved */ .chroma .kr { color:var(--chroma-kr) }
/* KeywordType */ .chroma .kt { color:var(--chroma-kt) }
/* NameAttribute */ .chroma .na { color:var(--chroma-na) }
/* NameClass */ .chroma .nc { color:var(--chroma-nc) }
/* NameConstant */ .chroma .no { color:var(--chroma-no) }
/* NameDecorator */ .chroma .nd { color:var(--chroma-nd);font-weight:bold }
/* NameEntity */ .chroma .ni { color:var(--chroma-ni) }
/* NameException */ .chroma .ne { color:var(--chroma-ne) }
/* NameLabel */ .chroma .nl { color:var(--chroma-nl) }
/* NameNamespace */ .chroma .nn { color:var(--chroma-nn) }
/* NameProperty */ .chroma .py { color:var(--chroma-py) }
/* NameTag */ .chroma .nt { color:var(--chroma-nt) }
/* NameBuiltin */ .chroma .nb { color:var(--chroma-nb) }
/* NameBuiltinPseudo */ .chroma .bp { color:var(--chroma-bp) }
/* NameVariable */ .chroma .nv { color:var(--chroma-nv) }
/* NameVariableClass */ .chroma .vc { color:var(--chroma-vc) }
/* NameVariableGlobal */ .chroma .vg { color:var(--chroma-vg) }
/* NameVariableInstance */ .chroma .vi { color:var(--chroma-vi) }
/* NameVariableMagic */ .chroma .vm { color:var(--chroma-vm) }
/* NameFunction */ .chroma .nf { color:var(--chroma-nf) }
/* NameFunctionMagic */ .chroma .fm { color:var(--chroma-fm) }
/* Literal */ .chroma .l { color:var(--chroma-l) }
/* LiteralDate */ .chroma .ld { color:var(--chroma-ld) }
/* LiteralString */ .chroma .s { color:var(--chroma-s) }
/* LiteralStringAffix */ .chroma .sa { color:var(--chroma-sa) }
/* LiteralStringBacktick */ .chroma .sb { color:var(--chroma-sb) }
/* LiteralStringChar */ .chroma .sc { color:var(--chroma-sc) }
/* LiteralStringDelimiter */ .chroma .dl { color:var(--chroma-dl) }
/* LiteralStringDoc */ .chroma .sd { color:var(--chroma-sd) }
/* LiteralStringDouble */ .chroma .s2 { color:var(--chroma-s2) }
/* LiteralStringEscape */ .chroma .se { color:var(--chroma-se) }
/* LiteralStringHeredoc */ .chroma .sh { color:var(--chroma-sh) }
/* LiteralStringInterpol */ .chroma .si { color:var(--chroma-si) }
/* LiteralStringOther */ .chroma .sx { color:var(--chroma-sx) }
/* LiteralStringRegex */ .chroma .sr { color:var(--chroma-sr) }
/* LiteralStringSingle */ .chroma .s1 { color:var(--chroma-s1) }
/* LiteralStringSymbol */ .chroma .ss { color:var(--chroma-ss) }
/* LiteralNumber */ .chroma .m { color:var(--chroma-m) }
/* LiteralNumberBin */ .chroma .mb { color:var(--chroma-mb) }
/* LiteralNumberFloat */ .chroma .mf { color:var(--chroma-mf) }
/* LiteralNumberHex */ .chroma .mh { color:var(--chroma-mh) }
/* LiteralNumberInteger */ .chroma .mi { color:var(--chroma-mi) }
/* LiteralNumberIntegerLong */ .chroma .il { color:var(--chroma-il) }
/* LiteralNumberOct */ .chroma .mo { color:var(--chroma-mo) }
/* Operator */ .chroma .o { color:var(--chroma-o) }
/* OperatorWord */ .chroma .ow { color:var(--chroma-ow) }
/* Comment */ .chroma .c { color:var(--chroma-c) }
/* CommentHashbang */ .chroma .ch { color:var(--chroma-ch) }
/* CommentMultiline */ .chroma .cm { color:var(--chroma-cm) }
/* CommentSingle */ .chroma .c1 { color:var(--chroma-c1) }
/* CommentSpecial */ .chroma .cs { color:var(--chroma-cs) }
/* CommentPreproc */ .chroma .cp { color:var(--chroma-cp) }
/* CommentPreprocFile */ .chroma .cpf { color:var(--chroma-cpf);font-weight:bold;font-style:italic }
/* GenericDeleted */ .chroma .gd { color:var(--chroma-gd);background-color:var(--chroma-gd-bg) }
/* GenericEmph */ .chroma .ge { font-style:italic }
/* GenericError */ .chroma .gr { color:var(--chroma-gr) }
/* GenericHeading */ .chroma .gh { color:var(--chroma-gh);font-weight:bold }
/* GenericInserted */ .chroma .gi { color:var(--chroma-gi);background-color:var(--chroma-gi-bg) }
/* GenericOutput */ .chroma .go { color:var(--chroma-go) }
/* GenericPrompt */ .chroma .gp { color:var(--chroma-gp) }
/* GenericStrong */ .chroma .gs { font-weight:bold }
/* GenericSubheading */ .chroma .gu { color:var(--chroma-gu);font-weight:bold }
/* GenericTraceback */ .chroma .gt { color:var(--chroma-gt) }
/* GenericUnderline */ .chroma .gl { text-decoration:underline }
/* TextWhitespace */ .chroma .w { color:var(--chroma-w) }
